.card-cv {
  border: $border-standard;
  box-shadow: $shadow-standard;

  .card-cv-body{
    padding: 2rem;
  }
}

.icon-cv {
  color: #fff;
  padding: 0.5rem;
  border-radius: 5rem;
  margin-right: 0.5rem;
  margin-left: -5px;
  background-color: $purple-med;
}