header {

  clip-path: none;

  @include media-breakpoint-up('md') {
    clip-path: polygon(
                    0 0, /* left top */
                    100% 0, /* right top */
                    100% 85%, /* right bottom */
                    0 100% /* left bottom */
    );

    background: linear-gradient(103deg, rgba($purple-dark,0.95) 0%, rgba($purple-med,0.9) 35%, rgba($purple-light,0.9) 100%), url("/img/test.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;

    width: 100vw;
    max-width: 100vw;
    height: 38vh;

    .title {
      width: fit-content;
      max-width: 100vw;
    }
    h1, h5 {
      text-align: center;
      color: #fff;
    }

    @media (min-width: $screen-lg) {
      h1 {
        text-align: left;
      }

      h5 {
        text-align: right;
      }
    }
  }
}

#container{
  position: relative;
  min-height: 100vh;
  padding-bottom: 20rem;

  @include media-breakpoint-up(md){
    padding-bottom: 7rem;
  }

  @include media-breakpoint-up(lg){
    padding-bottom: 6rem
  }
}